h1{
    font-size: 60px;
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    margin:auto;
    width:95%;
    /* border: 2px solid black; */
    padding:5px;
}
.title{
    padding:40px;
    text-align: center;
}
 .detail{
    text-align: justify;
    margin:auto;
    width:73%
}

 .isilaporan{
     text-align: justify;
     margin:auto;
     width:73%
 }

 .hapus img {
    height: 10px;
    width: 10px;
 }

 .waktu{
     padding:10px;
     float:left;
     text-align: left;
 }

 .selengkapnya{
     padding:10px;
     float:left;
     text-align: left;
 }

 .hapus{
    padding:10px;
    float:right;
    text-align: right;
 }
 hr{
     border-top: 2px solid black;
 }
