* {
    font-family: 'Poppins', sans-serif;
    }

.container {
    position: absolute;
    width: 1470px;
    height: auto;
    left: 30px;
    top: 30px;
    background: #FCFAF9;
    box-shadow: 6px 6px 23px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.header {
    height: auto;
    width: auto;
    text-align: center;
}

h1{
    font-size: 48px;
}

.cari{
    position: absolute;
    width: 888px;
    height: 52px;
    border: 2px solid #DBDFE3;
    box-sizing: border-box;
    border-radius: 10px;
}

.btn{
    position: absolute;
    width: 110px;
    height: 52px;
    left: 1125px;
    background: #FAAA8C;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

p {
    text-align: justify;
}

.content {   
    
    margin: auto;
    margin-top: 50px;
    width: 1000px;
}

.detail {
    float: right;
    margin-top: -35px;
}

.tambah{
    margin-top: -22px; 
    margin-left: 215px;
}

.lampir{
    margin-top: -45px; 
    margin-bottom: 17px; 
    margin-left: 25px; 
    width: 290px;
}
.waktu{
    width: auto; 
    height: auto; 
    margin-top:-40px; 
    margin-left: 600px;
}

.lihat{
    margin-top: -40px; 
    margin-left: 825px;
}

.next{
    margin-top: -38px; 
    margin-left: 985px;
}
