* {
	padding:  none;
	margin: none;
	font-size: none;
}

body {
	
	font-family: Cambria;
	background-color: ;
}
/* Halaman Detail_Laporan */

#box {
	margin: 0 auto;
	border: 2px solid; 
	color: black;
	width: 80%;

}

#box-content{
	width: 80%;
	margin: 0 auto;
}

#title h1{
	margin-top:40px;
	text-align: center;
}

#post-date{
	margin-left: 20px;
}