* {
	padding:  none;
	margin: none;
	font-size: none;
}

body {
	
	font-family: Cambria;
	background-color: ;
}
/* Halaman Buat Laporan */

#box {
	margin: 0 auto;
	border: 2px solid; 
	color: black;
	width: 80%;

}

#title h1{
	margin-top:35px;
	text-align: center;
}

#box-content{
	width: 80%;
	margin: 0 auto;
}

#menu-select{
	margin-top: 10px;
}

select {
   position: relative;
   height: 35px !important;
   display: inline-block;
}

#info-content{
	margin-top: 40px;
}

input[type=file]{
	height: 35px !important;
}

input[type=submit] {
	margin-left: 89%;
	height: 35px !important;
}
