/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

h1{
    font-size: 60px;
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    margin:auto;
    height: auto;
    width:80%;
    /* border: 2px solid black; */
    padding:5px;
    background-color: #F7F8F2;
}
.title{
    padding:40px;
    text-align: center;
}
 .search-cont{
     text-align: center;
 }

 .buat{
    text-align: justify;
    margin:auto;
    width:83%;
}

.komen{
    text-align:left;
    margin:auto;
    width:100%;
    font-family:Arial, Helvetica, sans-serif;
}

select, option {
    width: 230px;
    padding:5px;
  }
  
option {
    overflow: hidden;
    text-overflow: ellipsis;
  }

.custom-select{
    width: 100px;
}

.submit{
    float:right;
    background-color: #798e78c9;
}

.submit:hover{
    background-color: #6d7e6c;
}

 .add{
     text-align: center;
     padding:20px;
 }
 .laporan{
     text-align: justify;
     margin:auto;
     width:100%
 }

 .lampiran{
     padding:10px;
     float:left;
 }

 button{
    background-color:#798e78;
    border: none;
    padding: 16px 20px;
    color: white;
    cursor: pointer;
 }

 .waktu{
     padding:10px;
     float:right;
     text-align: right;
 }

 .selengkapnya{
     padding:10px;
     float:right;
     text-align: right;
 }
 hr{
     border-top: 2px solid black;
 }

 body{
    background-color: #798e78c9;
}