body{
    margin: 0;
    padding: 0;
    height: 1px;
    background-color: white;
}
        
.container {
    margin: 5% 15% 10% 15% ;
    padding-bottom : 5%;
}
        
.container h2{
    text-align: center;
    font-weight: lighter;
    font-size: 30px;
    font-family: arial;
    letter-spacing: 2px;
}
        
.container .main{
    margin-top: 70px;
}

.container p{
    text-align:justify;
}
        
.list-nav .aspek{
    float: left;
}
.list-nav .nav1{
    float: right;
}
            