h1{
    font-size: 60px;
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    margin:auto;
    width:80%;
    background-color: #F7F8F2;
    padding:5px;
    box-shadow: -5px 5px 10px #888;
}
.title{
    padding:40px;
    text-align: center;
}

 .search-cont{
    text-align: center;
}

.search{
    padding:20px;
    border:1px solid black;
    width:70%;
    margin:0;
}

.search-btn{
   padding:20px;
   border:1px solid black;
   width:10%; 
   margin:0; 
}

.search-btn:before{
   content: url('https://api.iconify.design/entypo/magnifying-glass.svg?color=black&height=12');
}

.search-btn:hover{
   background-color: #ddd;
   color: black;
   
}
.add{
    text-align: center;
    padding:20px;
}

.add a:after{
    content: url('https://api.iconify.design/fa-solid/plus-square.svg?color=black');
    padding:auto;
    height:12px;
}

a{
    color: black;
    /* padding:2px; */
}

.add a:link{
    text-decoration: none;
}
.add a:visited{
    text-decoration: none;
}
.add a:hover{
    font-weight: 900;
}
.laporan{
    text-align: justify;
    margin:auto;
    width:83%;
    padding:5px;
}

 .hapus img {
    height: 10px;
    width: 10px;
 }

 .aspek{
     float: left;
     padding:10px;
 }

 .waktu-dtl{
     padding:10px;
     float:left;
     text-align: left;
 }

 .waktu-utm{
    padding:10px;
    float:right;
    text-align: right;
 }

 .hapus{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding:10px;
    float:right;
    text-align: right;
 }

 .lampiran{
    padding:10px;
    float:left;
}

 .hapus:after{
    content: url('https://api.iconify.design/emojione-monotone/heavy-multiplication-x.svg?color=black&height=12');
    padding-left: 5px;
 }

 .hapus:hover{
    color:#798e78c9;
 }

 .selengkapnya{
    padding:10px;
    float:right;
    text-align: right;
}

.selengkapnya a:after{
   content: url('https://api.iconify.design/fa-solid/greater-than.svg?color=black&height=12');
}

.selengkapnya a:link{
   text-decoration: none;
}
.selengkapnya a:visited{
   text-decoration: none;
}
.selengkapnya a:hover{
   color: #6d7e6c;
}

.komen{
    text-align:left;
    margin:auto;
    width:100%;
    font-family:Arial, Helvetica, sans-serif;
}

select, option {
    width: 230px;
    padding:5px;
  }
  
option {
    overflow: hidden;
    text-overflow: ellipsis;
  }

.custom-select{
    width: 100px;
}

.submit{
    float:right;
    background-color:#798e78;
    border: none;
    padding: 16px 20px;
    color: white;
    cursor: pointer;
}

.submit:hover{
    background-color: #6d7e6c;
}

 hr{
     border-top: 2px solid black;
 }

 body{
     background-color: #798e78c9;
     /* background-color: #F7F8F2; */
 }

 img{
     height:360px;
     width: 360px;
 }

.copyright{ 
    color: white; 
    text-align: center;
    margin:auto;
    width:80%;
    padding: 5px;
    padding-top: 15px;
    height: 30px;
    background-color: black;
}

.about{ 
    text-align: center;
    margin:auto;
    width:80%;
    padding: 5px;
    padding-top: 15px;
    height: 15px;
    background-color: black;
}

.about{
    color: white;
}
.about a{
    color: white;
    text-decoration: none;
    padding: 5px;
}

.about a:hover{
    color:#798e78c9;
}

.row{
    margin: auto;
    /* margin-left: 150px; */
}

.kolom{
    float:left;
    padding: 10px 10px;
}
.profil{
    text-align: center;
}

figure img{
    height:216px;
    width:216px;
    border-radius: 50%;
    object-fit: cover;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }

h2{
    padding:0;
    margin: 0;
}

.teks{
    padding-top:10px;
    padding-bottom: 10px;
    width:100%;
    margin:0;
}
.edit{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding:10px;
    float:right;
    text-align: right;
    padding-right: 40px;
}
.edit:hover{
    color:#798e78c9;
}

.edit:after{
    content: url('https://api.iconify.design/clarity/edit-line.svg?color=black&height=12');
}