body{
    margin: 0;
    padding: 0;
	height: 2px;
	background-color: rgb(255, 255, 255) ;
    font-family: Arial, Helvetica, sans-serif;  
}
hr {
	background-color: #ffffff;
	border-top: 2px dashed #8c8b8b;
}
.container {
    margin: 10% 18% 0 18% ;

}

.container h2{
    text-align: center;
    font-weight: lighter;
    font-size: 30px;
    font-family: Arial;
    letter-spacing: 2px;
}

.search-wrapper{
    justify-content: center;
    display: flex;
}

.search-bar{
    width: 80%;
    position: relative;
}

.search-input{
    width: 100%;
    tab-size: 4;
    -webkit-text-size-adjust: 100%;
    --tw-text-opacity: 1;
    box-sizing: border-box;
    border-style: solid;
    --tw-shadow: 0 0 #0000;
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    font-family: inherit;
    margin: 0;
    padding: 0;
    color: inherit;
    -webkit-appearance: textfield;
    height: 2.5rem;
    border-radius: 0.5rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(209, 213, 219, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    padding-left: 1.25rem;
    padding-right: 4rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.search-button{
    position: absolute;
    color: inherit;
    background-color: transparent;
    right: 5px;
    top: 10px ;
    justify-content: center;
    border: none;
    cursor: pointer;
}
.search-icon{
    color: rgba(75, 85, 99, 1);
    width: 1rem;
    height: 1rem;
    fill: currentColor;
}

.new-laporan{
    margin-top: 1rem;
    text-align: center;
}
.new-laporan a{
    text-decoration: none;
    font-weight: bold;
    color: #6d1a36;
}
.new-laporan a:hover{
    color: #da5581;
    
}
#header-list{
    margin-top: 30px;
}

.laporan-list{
    margin-top: 10px;
}

.laporan-item{
    margin-top: 5px;
    margin-bottom: 5px;
}

.laporan-header{
    color: #6d1a36 !important;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-lines: 2 !important;
    text-decoration: none;
    color: inherit;
}

.laporan-body{
    font-size: 1rem;
    margin-top: 3px;
    margin-bottom: 3px;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.625;
}

.laporan-lampiran{
    color: #6d1a36;
    text-decoration: double;
    font-weight: 600;
    margin: 8px 0;
}
.laporan-lampiran a{
    text-decoration: none;
    font-weight: 400;
    color: #6d1a36;
}

.laporan-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

.footer-item{
    color: #6d1a36;
    text-decoration: double;
    font-weight: 600;
    margin: 8px 0;
}
.footer-item span{
    text-decoration: none;
    font-weight: 400;
    color: #6d1a36;
}