h1{
    font-size: 60px;
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    margin:auto;
    width:80%;
    /* border: 2px solid black; */
    padding: 5px;
    background-color: #F7F8F2;
}
.title{
    padding:40px;
    text-align: center;
}
 .search-cont{
     text-align: center;
 }

 .search{
     padding:20px;
     border:1px solid black;
     width:70%;
     /* border-right:none; */
     margin:0;
 }

 .search-btn{
    padding:20px;
    border:1px solid black;
    width:10%; 
    margin:0; 
 }

 .search-btn:before{
     content:"\1F50D";
     font-size: 8pt;
     padding-right: 5px;
 }

 .search-btn:hover{
    background-color: #ddd;
    color: black;
    
 }
 .add{
     text-align: center;
     padding:20px;
 }

 .add a:after{
     content:"\2795";
     padding: 2px;
     font-size: 8pt;
     font-weight:600;
     color: white;
     background-color: black;
 }

 a{
     color: black;
     padding:2px;
 }

 .add a:link{
     text-decoration: none;
 }
 .add a:visited{
     text-decoration: none;
 }
 .add a:hover{
     font-weight: 900;
 }
 .laporan{
     text-align: justify;
     margin:auto;
     width:83%;
     padding:5px;
 }

 .lampiran{
     padding:10px;
     float:left;
 }

 .waktu{
     padding:10px;
     float:right;
     text-align: right;
 }

 .selengkapnya{
     padding:10px;
     float:right;
     text-align: right;
 }

 .selengkapnya a:after{
     content:"\003E";
     color:black;
 }

 .selengkapnya a:link{
    text-decoration: none;
}
.selengkapnya a:visited{
    text-decoration: none;
}
.selengkapnya a:hover{
    color: blue;
}

 hr{
     border-top: 2px solid black;
 }

 body{
     background-color: #798e78c9;
 }