h1{
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    color: black;
    text-align: center;
}  
* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
form {
    margin:50px 100px 100px 100px;
    font-size: medium;
}
hr {
    margin-top: 20px;
    margin-bottom: 25px;
    border: none;
    height: 1px;
    color: black;
    background-color: black;
}
textarea {
    font-size: medium;
    border : 1.5px solid black;
}
select {
    font-size: medium;
    padding: 12px;
    margin-top: 20px;
    border: 1.5px solid black;
    cursor: pointer;
}
.fileupload {
    margin-top: 20px;
}
.submit-btn {
    float: right;
    padding: 12px;
    margin-top: 20px;
    background-color: white;
    cursor: pointer;
    border: 1.5px solid black;

}