h1{
    font-size: 60px;
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    margin:auto;
    width:95%;
    /* border: 2px solid black; */
    padding:5px;
}
.title{
    padding:40px;
    text-align: center;
}
 .search-cont{
     text-align: center;
 }

 .search{
     padding:20px;
     border:1px solid black;
     width:60%;
     /* border-right:none; */
     margin:0;
 }

 .search-btn{
    padding:20px;
    border:1px solid black;
    width:10%; 
    margin:0; 
 }

 .search-btn:hover{
    background-color: #ddd;
    color: black
 }
 .add{
     text-align: center;
     padding:20px;
 }
 .laporan{
     text-align: justify;
     margin:auto;
     width:73%
 }

 .lampiran{
     padding:10px;
     float:left;
 }

 .waktu{
     padding:10px;
     float:right;
     text-align: right;
 }

 .selengkapnya{
     padding:10px;
     float:right;
     text-align: right;
 }
 hr{
     border-top: 2px solid black;
 }
