body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 248, 248);
    font-family: Poppins,Arial, Helvetica, sans-serif;
}
.nav {
    overflow: hidden;
    background-color: rgb(119, 16, 16);
    
}

.bg{
    position: absolute;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin: 8px 56px 16px 8px;
}

nav ul li a{
    text-decoration: none;
    color: azure;
}

.header {
    position: relative;
    z-index: 1;
    margin: 124px auto 64px auto;
    width: 50%;
    padding: 10px;
    color: azure;
    text-align: center;
}

.form{
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    margin: auto;
    width: 50%;
    padding: 64px;
    text-align: justify;
}