body {
    background-image: url("bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

input {
    width: 750px;
    box-sizing: border-box;
    border: 2px solid rgb(17, 0, 0);
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url("searchicon.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

table {
    border: solid 1px #ddeeee;
    border-collapse: collapse;
    border-spacing: 0;
    width: 70%;
    margin: 10px auto 10px auto;
}

table tbody td {
    border: solid 1px #2c5757;
    color: rgb(39, 0, 0);
    padding: 10px;
    text-align: left;
    font-size: 15pt;
}

p {
    text-align: left;
    padding-left: 200px;
    margin-top: 50px;
    font-size: 15pt;
}
